.idea/
assessment-centre.iml
.env
vendor
var/*
!var/.gitkeep
!var/log
var/log/*
!var/log/.gitkeep

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
